.ulIng {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    min-height: 10vh;
    max-height: 40vh;
    overflow-y: auto;
    width: 600px;

}




.ulIng::-webkit-scrollbar-track {
    background: #33333d;
}

.ulIng::-webkit-scrollbar-thumb {
    background-color: #9797c4;
}




.libun {
    display: flex;
    margin-right: 16px;
    gap: 8px;
    justify-content:flex-end;
    align-items: center;
}

.divTotal {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    margin-top: 40px;
}

.divTotalChild {
    display: flex;
    align-items: center;

}

.pTotal {
    font-size: 50px;
    line-height: 36px;
    padding-right: 8px;
}

.divButton {
    padding-top: 40px;
}

.divConstructor
{
    display: 'flex';
    flex-direction: 'column';
    gap: '10px';
    margin-top: 60px;
    
}

