.divheader{
    
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;   
}

.main{
    display: flex;
    max-width: 1240px; 
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin: 0 auto;
}
.section{
    width: 600px;
}