.divroot {
  padding: 0 16px;
}



.divcartgroup {
  overflow-y: scroll;
  height: 68vh;
  width: 600px;

}

.divcartgroup::-webkit-scrollbar {
  width: 8px;
}

.divcartgroup::-webkit-scrollbar-track {
  background: #33333d;
}

.divcartgroup::-webkit-scrollbar-thumb {
  background-color: #9797c4;
}

.sectionsingredients {
  max-width: 600px;
}
.ulgroup {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}