.header {
    padding: 16px 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.divcontainer {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.nav {
    flex: 1 0 100px;
    display: flex;
    justify-content: flex-start;

}

.ul {
    margin: 10px;
    padding: 0;
    display: flex;
    list-style: none;
    gap:16px;

}


a {
    text-decoration: none;
    display: block;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    font-family: 'Jet Brains Mono';
    font-size: 14px;
    line-height: 1.43;
    font-weight: normal;

}

.divusers {
    flex-basis: calc(50% - 155px);
    flex-grow: 0;
    flex-shrink: 1;
}

.activ {
    color: white;
}

.notactiv {
    color: var(--text-inactive-color);
}

.center {
    flex: 0 0 content;
}

.right {
    flex: 1 0 100px;
    display: flex;
    justify-content: flex-end;
}